.vacancies {
    background-image: url("bck.jpg");
    width: 100vw;
    height: 1429px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empty {
    font-weight: 800;
    font-size: 45px;
    text-align: center;
}