.full-header {
    width: 100%;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.title {
    width: 100%;
    align-items: center;
}

.links {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-right: 140px;
}

.call {
    width: 220px;
    text-align: center;
}

.bgrndIMG {
    background-image: url("logo.png");
    width: 116px;
    height: 33px;
}

.header-text {
    font-weight: 600;
}

.contacts-text {
    font-weight: 400;
    text-align: center;
    font-size: 13px;
}

.phone-number {
    font-size: 17px;
    font-weight: 700;
}